.theme-light {
	/*==================================================
		DEFAULT.CSS	
	/*==================================================*/
	/* Scrollbar */
	--scrollbar: rgb(20, 171, 168);
	--scrollbar-hover: rgb(20, 171, 168, 0.7);
	/* General */
	--body-background: rgb(229, 228, 231);
	/* Buttons & Toggles */
	--button-background: #6edce0;
	--button: rgb(0, 0, 0);
	--button-hover: rgb(216, 216, 216);
	/*==================================================
		LAYOUT.CSS	
	/*==================================================*/
	/* General */
	--subhead: rgb(31, 176, 176);
	--heading: rgb(45, 45, 45);
	/* Header */
	--header-background: rgb(233, 235, 234) url(https://images.squarespace-cdn.com/content/v1/5fe4caeadae61a2f19719512/1610101987058-3PFR3HTAHFFDZKI67A8X/11.jpg) no-repeat center center;
	--header-name: black;
	--header-text-shadow: 0px 1px 3px rgba(255, 255, 255, .8);
	--header-role: rgb(110, 220, 224);
	--header-role-text-shadow: 0px 1px 3px rgba(255, 255, 255, .3);
	/* Navigation */
	--nav-wrap-background: rgb(190, 190, 190);
	--ul-nav-li-a: rgb(0, 0, 0);
	--ul-nav-li-a-current: rgb(0, 160, 160);
	/* About */
	--about-background: rgb(251, 244, 239);
	--about-content-p: rgb(82, 82, 82);
	--about-content: rgb(110, 220, 224);
	--about-content-info-list-li: rgb(0, 0, 0);
	--about-content-info-list-li-strong: rgb(3, 3, 3);
	--about-content-info-list-li-span: rgb(119, 119, 119);
	--about-content-info-list-li-span-a-hover: rgb(3, 3, 3);
	--copyMessage: #000;
	--copyMessage-after: rgb(31, 176, 176, 0.4); 
	/* Resume */
	--resume-background: rgb(231, 229, 228);
	--resume-wrap-before: rgba(143, 143, 143, 0.5);
	--resume-header-h3: rgb(0, 187, 118);
	--resume-header-p: rgb(82, 82, 82);
	--resume-content-h4: rgb(45, 45, 45);
	--resume-content-ul-b: rgb(55, 55, 55);
	--resume-content-ul-li: rgb(55, 55, 55);
	/* Projects */
	--projects-background: rgb(231, 229, 228);
	--projects-box: rgba(49, 216, 216, 0.2);
	--projects-leftbox-hover-shadow: rgba(49, 216, 216, 0.4) -5px 5px, rgba(49, 216, 216, 0.3) -10px 10px, rgba(49, 216, 216, 0.2) -15px 15px, rgba(49, 216, 216, 0.1) -20px 20px;
	--projects-midbox-hover-shadow: rgba(49, 216, 216, 0.4) 0px 5px, rgba(49, 216, 216, 0.3) 0px 10px, rgba(49, 216, 216, 0.2) 0px 15px, rgba(49, 216, 216, 0.1) 0px 20px, rgba(49, 216, 216, 0.05) 0px 25px;
	--projects-rightbox-hover-shadow: rgba(49, 216, 216, 0.4) 5px 5px, rgba(49, 216, 216, 0.3) 10px 10px, rgba(49, 216, 216, 0.2) 15px 15px, rgba(49, 216, 216, 0.1) 20px 20px, rgba(49, 216, 216, 0.05) 25px 25px;
	--modal-img-container: rgb(190, 255, 233);
	--modal-description-box: rgb(232, 232, 232);
	--modal-description-box-h4: black;
	--modal-description-box-p: rgb(85, 85, 85);
	--projects-box-lang: rgb(0, 167, 167);
	/* Contacts */
	--contacts: rgb(231, 229, 228);
	--contacts-p: rgb(90, 90, 90);
	--contacts-h4: black;
	/* Footer */
	--footer-background: rgb(235, 233, 232);
	--footer-left-p: rgb(90, 90, 90);
	--footer-p-links: rgb(0, 0, 0);
	--footer-links-a-before: rgb(0, 0, 0);
	--footer-right-a-background: rgb(85, 197, 180);
	--footer-right-a: #ffffff;
	--footer-right-a-hover: rgb(85, 197, 180, 0.7);
	/*==================================================
		PLUGINS.CSS	
	/*==================================================*/
	/* Header */
	--header-social-li-a: rgb(177, 255, 255);
	--header-social-li-a-hover: rgb(123, 179, 179);
	/* Resume */
	--resume-icon-background: rgb(206, 206, 206);
	--resume-icon: rgb(0,0,0);
	--resume-current: rgb(0, 187, 118);
	/* Projects */
	--projects-box-li-a: rgb(1, 171, 171);
	--projects-box-li-a-hover: rgb(0, 212, 212);
	--projects-modal-close: rgb(171, 1, 1);
	--projects-modal-close-hover: rgb(212, 0, 0);
	/* Contacts */
	--contacts-icons: rgb(211, 211, 211);
	--contacts-location: rgb(255, 130, 130);
	--contacts-envelope: rgb(130, 168, 255);
	--contacts-linkedin: rgb(14, 118, 168);
	--contacts-github: rgb(64, 120, 192);
	--contacts-discord: rgb(114, 137, 218);
	/* Footer */
	--to-top-a-background: rgb(85, 85, 85);
	--to-top-a: rgb(175, 175, 175);
	--to-top-a-hover: rgb(126, 216, 216);
	/* Theme */
	--theme: rgb(238, 232, 225);
	--theme-i: rgb(119, 119, 119);
	--theme-i-hover: #d4af37;
}

.theme-dark {
	/*==================================================
		DEFAULT.CSS	
	/*==================================================*/
	/* Scrollbar */
	--scrollbar: rgb(16, 102, 149);
	--scrollbar-hover: rgb(16, 102, 149, 0.7);
	/* General */
	--body-background: rgb(24, 26, 27);
	/* Buttons & Toggles */
	--button-background: rgb(61, 131, 202);
	--button: rgb(255, 255, 255);
	--button-hover: rgb(61, 65, 69);
	/*==================================================
		LAYOUT.CSS	
	/*==================================================*/
	/* General */
	--subhead: rgb(76, 139, 245);
	--heading: rgb(210, 210, 210);
	/* Header */
	--header-background: rgb(22, 20, 21) url(https://i.pinimg.com/originals/89/51/b0/8951b0310ec70ee604585dca24ac4e90.jpg) no-repeat center center;
	--header-name: white;
	--header-text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
	--header-role: rgb(208, 236, 255);
	--header-role-text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
	/* Navigation */
	--nav-wrap-background: rgb(44, 44, 44);
	--ul-nav-li-a: rgb(255, 255, 255);
	--ul-nav-li-a-current: rgb(92, 152, 255);
	/* About */
	--about-background: rgb(4, 11, 16);
	--about-content-p: rgb(173, 173, 173);
	--about-content: rgb(146, 182, 255);
	--about-content-info-list-li: rgb(255, 255, 255);
	--about-content-info-list-li-strong: rgb(252, 252, 252);
	--about-content-info-list-li-span: rgb(136, 136, 136);
	--about-content-info-list-li-span-a-hover: rgb(252, 252, 252);
	--copyMessage: #fff;
	--copyMessage-after: rgb(76, 139, 245, 0.4); 
	/* Resume */
	--resume-background: rgb(24, 26, 27);
	--resume-wrap-before: rgba(255, 255, 255, 0.5);
	--resume-header-h3: rgb(0, 198, 126);
	--resume-header-p: rgb(173, 173, 173);
	--resume-content-h4: rgb(210, 210, 210);
	--resume-content-ul-b: rgba(200, 200, 200);
	--resume-content-ul-li: rgba(200, 200, 200);
	/* Projects */
	--projects-background: rgb(24, 26, 27);
	--projects-box: rgba(76, 139, 245, .2);
	--projects-leftbox-hover-shadow: rgba(76, 139, 245, 0.4) -5px 5px, rgba(76, 139, 245, 0.3) -10px 10px, rgba(76, 139, 245, 0.2) -15px 15px, rgba(76, 139, 245, 0.1) -20px 20px;
	--projects-midbox-hover-shadow: rgba(76, 139, 245, 0.4) 0px 5px, rgba(76, 139, 245, 0.3) 0px 10px, rgba(76, 139, 245, 0.2) 0px 15px, rgba(76, 139, 245, 0.1) 0px 20px, rgba(76, 139, 245, 0.05) 0px 25px;
	--projects-rightbox-hover-shadow: rgba(76, 139, 245, 0.4) 5px 5px, rgba(76, 139, 245, 0.3) 10px 10px, rgba(76, 139, 245, 0.2) 15px 15px, rgba(76, 139, 245, 0.1) 20px 20px, rgba(76, 139, 245, 0.05) 25px 25px;
	--modal-img-container: rgb(127, 255, 212);
	--modal-description-box: rgb(44, 44, 44);
	--modal-description-box-h4: white;
	--modal-description-box-p: rgb(170, 170, 170);
	--projects-box-lang: rgb(130, 180, 250);
	/* Contacts */
	--contacts: rgb(24, 26, 27);
	--contacts-p: rgb(165, 165, 165);
	--contacts-h4: white;
	/* Footer */
	--footer-background: rgb(20, 22, 23);
	--footer-left-p: rgb(165, 165, 165);
	--footer-p-links: rgb(255, 255, 255);
	--footer-links-a-before: rgb(255, 255, 255);
	--footer-right-a-background: rgb(10, 84, 148);
	--footer-right-a: #ffffff;
	--footer-right-a-hover: rgb(10, 84, 148, 0.7);
	/*==================================================
		PLUGINS.CSS	
	/*==================================================*/
	/* Header */
	--header-social-li-a: rgb(180, 206, 255);
	--header-social-li-a-hover: rgb(0, 83, 238);
	/* Resume */
	--resume-icon-background: rgb(49, 49, 49);
	--resume-icon: rgb(255, 255, 255);
	--resume-current: rgb(0, 109, 69);
	/* Projects */
	--projects-box-li-a: rgb(180, 206, 255);
	--projects-box-li-a-hover: rgb(64, 120, 192);
	--projects-modal-close: rgb(255, 180, 180);
	--projects-modal-close-hover: rgb(192, 64, 64);
	/* Contacts */
	--contacts-icons: rgb(211, 211, 211);
	--contacts-location: rgb(255, 130, 130);
	--contacts-envelope: rgb(130, 168, 255);
	--contacts-linkedin: rgb(14, 118, 168);
	--contacts-github: rgb(64, 120, 192);
	--contacts-discord: rgb(114, 137, 218);
	/* Footer */
	--to-top-a-background: rgb(170, 170, 170);
	--to-top-a: rgb(80, 80, 80);
	--to-top-a-hover: rgb(60, 116, 188);
	/* Theme */
	--theme: rgb(70, 70, 70);
	--theme-i: rgb(119, 119, 119);
	--theme-i-hover: #C0C0C0;
}