/*==================================================
   TOC:
   a. Webfonts and Icon Fonts
   b. General
   c. Typography
   d. Buttons & Toggles
   e. Row / Column Distribution
/*==================================================*/

/* ------------------------------------------------------------------ */
/* a. Webfonts and Icon Fonts
/* ------------------------------------------------------------------ */


/* ------------------------------------------------------------------ */
/* b.  General
/* ------------------------------------------------------------------ */
html {
	font-size: 60%;
	scroll-behavior: smooth;
}
body {
	font-family: 'opensans-regular', sans-serif;
	font-weight: normal;
	font-size: 15px;
	line-height: 30px;
	background: rgb(229, 228, 231);
}

/* ------------------------------------------------------------------ */
/* c. Typography
/* ------------------------------------------------------------------ */
h1 {
	font-size: 35px;
	line-height: 42px;
	margin-bottom: 12px;
}
h2 {
	font-size: 26px;
	line-height: 36px;
	margin-bottom: 6px;
}
h3 {
	font-size: 22px;
	line-height: 30px;
	margin-bottom: 12px;
}
h4 {
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 6px;
}
p {
	font-size: 16px;
	margin: 0px 0px 30px 0px;
}
strong {
	font: 15px/30px 'opensans-bold', sans-serif;
}

/* ------------------------------------------------------------------ */
/* d. Buttons & Toggles
/* ------------------------------------------------------------------ */
.button{
	font: 16px/30px 'opensans-bold', sans-serif;
	background: rgb(155, 214, 214);
	display: inline-block;
	text-decoration: none;
	color: rgb(0, 0, 0);
	padding: 12px 20px;
	margin-top: 2rem;
	margin-bottom: 18px;
	cursor: pointer;
	height: auto;
	border-radius: 3px;
}
.button:hover {
	background: rgb(194, 190, 186);
	color: rgb(0, 0, 0);
}

/* ------------------------------------------------------------------ */
/* e. Row / Column Distribution
/* ------------------------------------------------------------------ */
.row {
	width: 94%;
	max-width: 1140px;
	margin: 0 auto;
	display: table;
}

[class*="col-"] {
	float: left;
	padding: 0 20px;
}
.col-one {
	width: 10%;
}
.col-two {
	width: 20%;
}
.col-three {
	width: 25%;
}
.col-four {
	width: 33%;
}
.col-five {
	width: 50%;
}
.col-six {
	width: 75%;
}
.col-seven {
	width: 100%;
}
