/*==================================================
   TOC:
   a. General Styles
   b. Header Styles
   c. Navigation Styles
   d. About Section
   e. Resume Section
   f. Projects Section
   g. Contacts Section
   h. Footer
/*==================================================*/

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'sans-serif';
	overflow-y: inherit;
}
.subhead {
	text-align: center;
	color: rgb(76, 139, 245);
	font-family: 'Century Gothic', sans-serif;
}
.heading {
	text-align: center;
	color: rgb(210, 210, 210);
	margin-bottom: 15px;
	font-family: 'Georgia', sans-serif;
}
.reveal {
	position: relative;
	transform: translateY(100px);
	opacity: 0;
	transition: 0.5s all ease;
}
.reveal.active {
	transform: translateY(0);
	opacity: 1;
}

/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */
header {
	position: relative;
	height: 280px;
	width: 100%;
	background: rgb(22, 20, 21) url(https://i.pinimg.com/originals/89/51/b0/8951b0310ec70ee604585dca24ac4e90.jpg) no-repeat center center;
	-webkit-background-size: cover !important;
	background-size: cover !important;
	text-align: center;
	overflow: hidden;
}
header:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
header .banner {
	display: inline-block;
	vertical-align: middle;
	width: 85%;
	text-align: center;
}
header .name {
	color: white;
	margin: 90px 0px 0px 0px;
	font-family: 'Source Sans Pro';
	font-size: 35px;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
	animation: 1.5s lineUp ease-out;
}
header .role {
	color: rgb(208, 236, 255);
	margin: auto;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
	animation: 2s lineUp ease-out;
	font-family: 'Candara';
}

/* ------------------------------------------------------------------ */
/* b. Navigation Styles
/* ------------------------------------------------------------------ */
.nav-wrap ul,
.nav-wrap li,
.nav-wrap a {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}
.nav-wrap {
	font: 12px 'opensans-bold', sans-serif;
	width: 100%;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	margin: 0 auto;
	z-index: 100;
	position: fixed;
	left: 0;
	top: 0;
	background-color: rgb(44, 44, 44);
	opacity: 0.9;
}
ul.nav {
	min-height: 48px;
	width: auto;
	text-align: center;
}
ul.nav li {
	position: relative;
	list-style: none;
	height: 48px;
	display: inline-block;
}
ul.nav li a {
	display: inline-block;
	padding: 8px 13px;
	line-height: 32px;
	text-decoration: none;
	text-align: left;
	color: rgb(255, 255, 255);
}
ul.nav li a:active {
	background-color: transparent !important;
}
ul.nav li a.current {
	color: rgb(92, 152, 255);
	transition: 0.5s ease-out;
	font-weight: bold;
}

/* ------------------------------------------------------------------ */
/* d. About Section
/* ------------------------------------------------------------------ */
.about {
	padding-top: 3rem;
	padding-bottom: 5rem;
	background-color: rgb(4, 11, 16);
	height: auto;
}
.about .content p {
	text-align: center;
	color:rgb(173, 173, 173);
	margin-left: 20px;
	margin-right: 20px;
	font-family: 'Segoe UI', sans-serif;
}
.about-content {
	color: rgb(146, 182, 255)
}
.about-content .info-list {
	list-style: none;
}
.about-content .info-list li {
	padding: 0px 0px 10px 0px;
	margin-bottom: .6rem;
	color: rgb(255, 255, 255)
}
.about-content .info-list li strong {
	font-family: 'opensans-bold', sans-serif;
	color: rgb(252, 252, 252);
	text-transform: uppercase;
	letter-spacing: .2rem;
	font-size: 1.5rem;
	line-height: 3rem;
}
.about-content .info-list li span {
	display: block;
	font-family: 'opensans-bold', sans-serif;
	color: rgb(136, 136, 136);
	font-size: 1.5rem;
	line-height: 1;
}
.about-content .info-list li span a:link,
.about-content .info-list li span a:visited {
	text-decoration: none;
	color: rgb(136, 136, 136);
}
.about-content .info-list li span a:hover {
	color: rgb(252, 252, 252);
}
.button-section {
	text-align: center;
}
.button-section .button {
	width: 200px;
	font-family: 'Rockwell', serif;
}
.button-section [class*="col-"] .button:first-child {
	margin-right: 4rem;
}

/* ------------------------------------------------------------------ */
/* e. Resume Section
/* ------------------------------------------------------------------ */
.resume {
	padding-top: 3rem;
	padding-bottom: 0rem;
	background-color: rgba(24, 26, 27, 255);
}
.resume .work,
.resume .vol,
.resume .edu {
	position: relative;
	padding-top: 1.5rem;
}
.resume .work-wrap::before,
.resume .vol-wrap::before,
.resume .edu-wrap::before {
	content: "";
	display: block;
	width: 1px;
	height: 100%;
	background: rgba(255, 255, 255, 0.5);
	position: absolute;
	left: 35%;
	top: 0;
}
.resume .work-wrap,
.resume .vol-wrap,
.resume .edu-wrap {
	position: relative;
	margin-top: 1.5rem;
	margin-bottom: 6rem;
}
.resume .work-header,
.resume .vol-header,
.resume .edu-header {
	float: left;
	width: 35%;
	padding-right: 90px;
	text-align: right;
}
.resume .work-header h3,
.resume .vol-header h3,
.resume .edu-header h3 {
	color: rgb(0, 198, 126);
	font-family: 'Candara', sans-serif;
}
.resume .work-header p, 
.resume .vol-header p,
.resume .edu-header p {
	color: rgb(173, 173, 173);
	font-family: 'Book Antiqua', serif;
	font-size: 14px;
}
.resume .work-content,
.resume .vol-content,
.resume .edu-content {
	margin-left: 35%;
	padding-left: 60px;
}
.resume .work-content h4,
.resume .vol-content h4,
.resume .edu-content h4 {
	color:rgb(210, 210, 210);
	font-family: 'Trebuchet MS', sans-serif;
}
.resume .work-content ul,
.resume .vol-content ul,
.resume .edu-content ul {
	color:rgba(200, 200, 200);
}

/* ------------------------------------------------------------------ */
/* f. Projects Section
/* ------------------------------------------------------------------ */
.projects {
	padding-top: 0rem;
	padding-bottom: 0rem;
	background-color: rgb(24, 26, 27);
	overflow: hidden;
}
.projects .box {
	position: relative;
	padding-top: 1.5rem;
	background: rgba(76, 139, 245, .2);
	border-radius: 25px;
	width: 100%;
	height: auto;
	margin-bottom: 20px;
	display: inline-block;
}
.projects .box img {
	border-radius: 20px;
}
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}
@keyframes fade {
	from { opacity: .4 }
	to { opacity: 1 }
}
.projects .box .imgSlide1 {
	display: none;
}
.projects .box h4 {
	color: white;
	text-align: center;
	margin-top: 10px;
}
.projects .box p {
	color: rgb(170, 170, 170);
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	font-family: 'Tahoma', sans-serif;
	font-size: smaller;
}
.projects .box .lang {
	text-align: center;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: -15px;
	color:rgb(130, 180, 250);
}
.projects #proj1 img {
	display: block;
	margin: auto;
	margin-top: 20px;
	height: 275px;
}
.projects #proj2 img {
	display: block;
	margin: auto;
	margin-top: 20px;
	height: 275px;
}
.projects #proj3 img {
	display: block;
	margin: auto;
	margin-top: 20px;
	height: 260px;
}
.projects #proj4 img {
	display: block;
	margin: auto;
	margin-top: 20px;
	height: 222px;
}

/* ------------------------------------------------------------------ */
/* g. Contacts Section
/* ------------------------------------------------------------------ */
.contacts {
	padding-top: 3rem;
	padding-bottom: 5rem;
	background-color: rgb(24, 26, 27);
	overflow: hidden;
}
.contacts h4 {
	color: white;
	text-align: center;
	margin-top: -15px;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contacts p {
	color: rgb(165, 165, 165);
	text-align: center;
}
.contacts p a {
	color: rgb(165, 165, 165);
	text-align: center;
	text-decoration: none;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ------------------------------------------------------------------ */
/* h. Footer
/* ------------------------------------------------------------------ */
.footer {
	background-color: rgb(20, 22, 23);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	padding: 45px 50px;
}
.footer .footer-left p {
	color: rgb(165, 165, 165);
	font-size: 14px;
	margin: 0;
}
.footer p.footer-links {
	font-size: 18px;
	font-weight: bold;
	color: rgb(255, 255, 255);
	margin: 0 0 10px;
	padding: 0;
}
.footer p.footer-links a {
	text-decoration: none;
	color: inherit;
}
.footer .footer-links a:before {
	content: "·";
	font-size: 20px;
	left: 0;
	color: rgb(255, 255, 255);
	display: inline-block;
	padding-right: 5px;
}
.footer .footer-links .link-1:before {
	content: none;
}
.footer .footer-right {
	float: right;
	margin-top: 6px;
	max-width: 180px;
}
.footer .footer-right a {
	display: inline-grid;
	width: 35px;
	height: 35px;
	background-color: rgb(10, 84, 148);
	border-radius: 10px;
	font-size: 20px;
	color: #ffffff;
	place-items: center;
	text-decoration: none;
}
.footer .footer-right a:hover {
	background-color: rgb(10, 84, 148, 0.7);
	width: 38px;
	height: 38px;
}
.footer p.footer-links a:hover {
	text-decoration: underline;
}